body {
    background-color: azure;
}

.main-body {
    margin: auto;
    text-align: center;
}

.button {
    height: 40px;
    width: 50px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.led {
    margin-top: 20px;
    width: 30%;
}

.arrows {
    margin-top: 17%;
}

.stop {
    display: inline-block;
}

.stop-button {
    margin: 5px;
}

#camera-img {
    width: 100%;
    height: 300px;
}